.alertMessage {	
	background-image: url('/img/warning.png');	
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 32px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}