#debug {
    font-family: "Lucida Console", sans-serif; 
    font-size: 0.9em;   
    background-color: #ffffff;
    /*border-radius: 4px; */   
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    position: absolute;
    padding: 2px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

.debugTab {	
	background-image: url('/img/toolbar/debug_exc.gif');	
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 22px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}

.debugRecord {
	/*font-family: "Lucida Console", sans-serif;*/
    font-size: 1.1em;
	background-image: url('/img/toolbar/nav_go.gif');	
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.debugFocusRecord {
	/*font-family: "Lucida Console", sans-serif;*/
    font-size: 1.1em;
	background-image: url('/img/toolbar/resume_co.gif');	
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.debugIdleRecord {
	/*font-family: "Lucida Console", sans-serif;*/
    font-size: 1.1em;
	background-image: url('/img/toolbar/suspend_co.gif');	
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}