#dialogContainer {
    padding: 5px;
    position: absolute;
    float: left;
    display: block;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 72px;
}

#dialogContainerBig {
    padding: 5px;
    position: absolute;
    float: left;
    display: block;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 36px;
}

#dialog {
    /*font-family: "Lucida Console", sans-serif;*/ 
    font-size: 0.9em;
    background-color: #ffffff;   
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    padding: 5px;
    position: absolute;
    padding: 2px;
    overflow-y: scroll;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

#dialogFile {
	/*font-family: "Lucida Console", sans-serif;*/ 
    font-size: 0.9em;
    background-color: #ffffff;   
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    padding: 5px;
    position: absolute;
    height: 28px;
	float: left;
    float: left;
    display: block;
    right: 8px;
    left: 8px;
    bottom: 8px;
}
#dialogFolder {
	/*font-family: "Lucida Console", sans-serif;*/
    font-size: 0.9em;
    background-color: #ffffff;   
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    padding: 5px;
    position: absolute;
    height: 28px;
	float: left;
    float: left;
    display: block;
    right: 8px;
    left: 8px;
    bottom: 44px;
}
#dialogPath {
	/*font-family: "Lucida Console", sans-serif;*/ 
    font-size: 0.9em;
    background-color: #ffffff;   
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    padding: 5px;
    position: absolute;
    height: 28px;
	float: left;
    float: left;
    display: block;
    right: 8px;
    left: 8px;
    bottom: 8px;
}

.dialogListTable {
	width: 100%;
	border-collapse: collapse;
}

.dialogListTable tr:hover {
	background-color: #eff9fe;
	border: #70c0e7 1px solid;
	cursor: pointer;
}