.ace_gutter-cell.ace_breakpoint {
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 1px 1px orange inset;
	background: rgba(255, 215, 0, 0.3)
}

.ace_editor.ace_autocomplete {
	width: 400px !important;
	/*resize: both !important;*/
}

#editor {
	font-family: "Consolas", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size: 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
}

#select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#edit {
	overflow: hidden !important;
}

.editTab {	
	background-image: url('/img/toolbar/write_obj.gif');	
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 22px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}

.typeNode {
	/*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
	font-size: 1.1em;
	background-image: url('/img/toolbar/green_dot.gif');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.moduleNode {
	/*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
	font-size: 1.1em;
	background-image: url('/img/toolbar/grey_dot.gif');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.resourceNode {
	/*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
	font-size: 1.1em;
	background-image: url('/img/toolbar/cu_obj.gif');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.typeTable {
	width: 100%;
	border-collapse: collapse;
}

.typeTable tr:hover {
	background-color: #eff9fe;
	border: #70c0e7 1px solid;
}