#problems {
    font-family: "Lucida Console", sans-serif; 
    font-size: 0.9em;   
    background-color: #ffffff;
    /*border-radius: 4px;*/    
 	border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    position: absolute;
    padding: 2px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

.problemHighlight {
  position:absolute;
  background:rgba(250,10,10,0.3);
  z-index:20
}

.errorDescription {
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  
	background-image: url('/img/toolbar/rem_co.gif');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.problemsTab {	
	background-image: url('/img/toolbar/errorwarning_tab.gif');	
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 22px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}