#fontSize {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	width: 70px;
	height: 25px;
	overflow: hidden;
	background: url('/img/down_arrow_small_trans.png') no-repeat right transparent;
	border: 1px solid #c0c0c0;
}

#fontFamily {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	width: 150px;
	height: 25px;
	overflow: hidden;
	background: url('/img/down_arrow_small_trans.png') no-repeat right transparent;
	border: 1px solid #c0c0c0;
}

#editorTheme {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	width: 150px;
	height: 25px;
	overflow: hidden;
	background: url('/img/down_arrow_small_trans.png') no-repeat right transparent;
	border: 1px solid #c0c0c0;
}