<!DOCTYPE html>
<html>
    <head>
        <title>My Sample Project</title>
        <script data-main="/js/main.js" src="/js/external/require.js"></script>
    </head>
    <body>
        <h1>My Sample Project</h1>
    </body>
</html>