<!DOCTYPE html>
<html>
<head>
<title>${project}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="/css/external/font-awesome.min.css" rel="stylesheet">
<link href="/css/external/bootstrap.min.css" rel="stylesheet">
<link href="/css/external/jquery-ui.css" rel="stylesheet" />
<link href="/css/external/${FANCY_TREE_CSS_FILE}" rel="stylesheet" />
<link href="/css/external/${W2UI_CSS_FILE}" rel="stylesheet">
<link href="/css/splash.css" rel="stylesheet" />
<link href="/css/console.css" rel="stylesheet" />
<link href="/css/editor.css" rel="stylesheet" />
<link href="/css/dialog.css" rel="stylesheet" />
<link href="/css/tree.css" rel="stylesheet" />
<link href="/css/breakpoints.css" rel="stylesheet" />
<link href="/css/problems.css" rel="stylesheet" />
<link href="/css/threads.css" rel="stylesheet" />
<link href="/css/variables.css" rel="stylesheet" />
<link href="/css/profiler.css" rel="stylesheet" />
<link href="/css/debug.css" rel="stylesheet" />
<link href="/css/toolbar.css" rel="stylesheet" />
<link href="/css/alert.css" rel="stylesheet" />
<link href="/css/project.css" rel="stylesheet" />
<link href="/css/history.css" rel="stylesheet" />
<link href="/css/status.css" rel="stylesheet" />
<script data-main="/js/main.js" src="/js/external/require.js"></script>
</head>
<body style="height: 100%; margin: 0; background-color: ${PROJECT_BACKGROUND_COLOR}; color: ${PROJECT_FONT_COLOR};">
  <div id="mainLayout" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"></div>
  <div id="overlay">
    <!--div id="splash-square"><img src="/img/splash.png"></div-->
    <div id="spin"></div>
  </div>
  <div id='editParentHidden' style='display: none;'><div id='editor'></div></div>
  <div id='browseParentHidden' style='display: none;'><div id='explorer'></div></div>
</body>
</html>

