<!DOCTYPE html>
<html>
<head>
<title>${root}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="/css/external/w2ui.flat.css" rel="stylesheet">
<link href="/css/external/font-awesome.min.css" rel="stylesheet">
<link href="/css/external/bootstrap.min.css" rel="stylesheet">
<link href="/css/external/jquery-ui.min.css" rel="stylesheet" />
<link href="/css/external/fancytree.css" rel="stylesheet" />
<link href="/css/dialog.css" rel="stylesheet" />
<link href="/css/tree.css" rel="stylesheet" />
<link href="/css/splash.css" rel="stylesheet" />
<script src="/js/external/ace/ace.js"></script>
<script src="/js/external/jquery.js"></script>
<script src="/js/external/jquery-ui.js"></script>
<script src="/js/external/jquery-context-menu.js"></script>
<script src="/js/external/bootstrap.min.js"></script>
<script src="/js/external/spin.js"></script>
<script src="/js/external/fancytree.js"></script>
<script src="/js/external/w2ui.js"></script>
<script src="/js/external/filesaver.js"></script>
<script src="/js/module.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/tree.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/common.js"></script>
</head>
<body style="height: 100%; margin: 0; background-color: #ececec;">
  <div id="mainLayout" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"></div>
  <div id="overlay">
    <!--div id="splash-square"><img src="/img/splash.png"></div-->
    <div id="spin"></div>
  </div>
  <script type="text/javascript" src="/start.js"></script>
</body>
</html>

